html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .main-container {
    display: flex;
    height: 100vh;
  }
  
  .left-panel {
    width: 50%;
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: flex-start;

  }
  
  .button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 15px;
  }

  
  .button-home{
    display: block;
    margin: 10px auto;
    padding: 15px 20px;
    font-size: 18px;
    width: 250px;
  }
  
  .right-panel {
    width: 50%;
    flex: 1;
    padding: 20px;
    margin-top: 50px;
    margin-left: 300px;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .list li {
    margin-bottom: 10px;
  }
  
  .bottom-section {
    margin-top: 20px;
  }

  .container.login {
    font-size: 18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
  }
  
  .container.login input {
    display: flex;
    padding: 10px;
    align-items: center;
  }

  .container.signup input {
    display: flex;
    padding: 10px;
    align-items: center;
  }

  .container {
    background-image: url("../HomeImage.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-top: 0;
  }
  
  .container.login button.btnLogin {
    display: block;
    margin: 10px auto;
    padding: 15px 20px;
    font-size: 18px;
    height: 50px;
    width: 150px;
    background-color: chocolate;
  }

  .container.signup button.btnSignup {
    display: block;
    margin: 10px auto;
    padding: 15px 20px;
    font-size: 18px;
    height: 50px;
    width: 150px;
    background-color: chocolate;
  }

  .container.signup {
    font-size: 18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
  }
  
  .container.btnHome {
    font-size: 18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .containerHome {
    font-size: 18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
  }

  .container.product {
    font-size: 18px;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
  }

  .container.product input{
    display: flex;
    padding: 10px;
    align-items: center;
  }
  
  .btnContainer {
    display: flex;
    margin-top: 30px;
  }
  
  .container.btnProduct {
    margin-right: 50%;  
    padding: 10px;
  }
  
  .container.btnReturn {
    margin-left: 50%;  
    padding: 10px;
  }
  
  .container.grup {
  }

  .elementeGrup {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  }

  .elementeGrup input{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .butonAdauga {
  
  }

  .participants-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .group-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .group-column,
  .user-email-column {
    margin-right: 20px;
  }
  
  .group-column {
    flex: 1;
  }
  
  .user-email-column {
    flex: 1;
  }
  